.course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s ease;
}

.course:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.course-left {
    width: 25%;
    height: 100%;
    background-color: #3E5879;
    /* background-color: #213555; */
    color: #ddd;
    padding: 1rem;
    padding-left: 2rem;
    /* text-align: center; */
    cursor: pointer;
}

.course-left p {
    font-size: 14px;
    text-align: center;
}

.course-left h2 {
    font-size: 30px;
    margin: 1rem 0;
}

.course-right {
    width: 75%;
    height: 100%;
    padding: 1rem;
    padding-left: 2rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #444;
}

.course-right p {
    font-size: 14px;
}
.course-right p i{
    margin-right: .5rem;
}
.course-right .course-btn {
    text-align: end;
}

.course-btn button {

    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #ddd;
    background-color: #3E5879;
    cursor: pointer;
    transition: all .5s ease
}
.course-btn button:hover{
    background-color: #213555;
}