 /* Start CSS Coding Here */
 .q-a-nav-links {
    display: flex;
    justify-content: start;
    list-style: none;
    background-color: #3E5879;
    color: #ddd;
    padding: .5rem;
    margin: .5rem;
}

.q-a-nav-links li {
    padding: 10px;
    font-size: 14px;
    transition: all 0.5s ease;
    cursor: pointer;
    margin: 0 .5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
}

.q-a-nav-links li:hover {
    background-color: #213555;
    color: #ddd;
}

.q-a-nav-links li.active {
    background-color: #213555;
    color: #ddd;
}

.q-a-nav-links li i {
    margin-right: .25rem;
    transition: all .3s ease;
}

/*book form*/

#quickActions {
    width: 100%;
    /* margin-left: 13%; */
}

.quick-actions-form {
    padding: 1.5rem;
    width: 95%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px 0 #00000052;
    margin: 2rem auto;
    /* display: none; */
}

/* .quick-actions-form.active-form {
    display: block;
} */

.quick-actions-form:hover {
    box-shadow: 0 5px 10px 0 #00000052;

}

.add-form-title {
    text-align: start;
    margin-bottom: 1rem;
}

.form-controls-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.form-controls {
    margin: 15px 0;
    border: 1px solid #ddd;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 #00000052;
    transition: all .3s ease;
    cursor: pointer;
}

.form-controls:hover {
    box-shadow: 0 5px 10px 0 #00000052;

}

.form-controls label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    cursor: pointer;
}

.form-controls label i {
    font-size: 16px;
    margin-right: .25rem;
    transition: all .3s ease;
}

.form-controls input {
    width: 100%;
    padding: 10px;
    color: #444;
}
.form-controls select{
    width: 100%;
    padding: 10px;
    color: #444;
}
.form-controls textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    color: #444;
}

.book-form-btns {

    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

.book-form-btns button {
    padding: 10px 20px;
    background-color: #3E5879;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.book-form-btns button:hover {
    background-color: #213555;
}

.crs-frm,
.std-frm {
    display: none;
}


/* Media Queries  */
@media screen and (max-width: 768px) {
    #quickActions {
        width: 100%;
        margin-left: 0;
    }

    .form-controls {
        width: 100%;
    }
}