
.student-page-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 1rem;
}
.student-page-body{
    padding: 1rem;
    min-width: 50%;
}
.student-page-nav{
    padding: 1rem;
    width: 18%;
}
.students-list-items{
    background-color: #3E5879;
    color: #ddd;
    width: 100%;
    padding: .5rem;
    list-style: none;
    cursor: pointer;
    border-radius: 3px;
}
.students-list-items li{
    padding: .5rem;
    margin-left: .5rem;
    border-radius: 3px;
    font-size: 14px;
}
.students-list-items li:hover{
    background-color: #213555;
}
.students-list-items li.active{
    background-color: #213555;
}
.student-details{
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 #00000052;
    transition: all .5s ease;
    margin-bottom: 2rem;
}
.student-details:hover{
    box-shadow: 0 5px 10px 0 #00000052;

}

.student-details hr{
margin: .5rem 0;
}

table{
    width: 100%;
    margin: 1rem 0;
}
thead th {
    background-color: #3E5879;
    color: #ddd;
   padding: .5rem;
}
tr{
    padding: .8rem;
    /* border-bottom: 1px solid #ddd; */
}

tbody tr{
    background-color: #fff;
    cursor: pointer;
}

td{
    text-align: center;
    padding: .5rem;
    /* background-color: #dfdfdf; */

}

.students-page-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}
.students-page-actions button{
    display: block;
    width: 20%;
    height: 6vh;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #ddd;
    background-color: #3E5879;
    cursor: pointer;
    transition: all .5s ease;
}

.students-page-actions button:hover{
    background-color: #213555;
}

