/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    
}
body{
    background-color: #fff;
    color: #555;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 10vh;
    position: relative;
    background-color: #213555;
    color: #ddd;
}
header .menu {
    background-color: #3E5879;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s ease;
}
header .menu:hover{
    transform: rotate(-180deg);
}
main{
    display: flex;
    justify-content:space-between;
    align-items: start;
    height: 90vh;
    width: 100%;
    /* background-color: #B1C29E; */
}
#navbar{
    width: 15%;
    height: 100%;
    background-color: #3E5879;
    color: #ddd;

}
#navbar ul{
    list-style: none;
    padding: .5rem;
}
#navbar ul li{
    margin-top: .5rem;
    padding: 10px;
    font-size: 14px;
    transition: all 0.5s ease;
    cursor: pointer;
}
#navbar ul li:hover{
    background-color: #213555;
    color: #ddd;
} 
#navbar ul li.active{
    background-color: #213555;
    color: #ddd;
}
#navbar ul li.active i{
    font-size: 18px;
}
#navbar ul li i{
    margin-right: .25rem;
    transition: all .3s ease;
}

#navbar p{
    padding: 10px;
    font-size: 12px;
    transition: 0.3s;
    text-align: center;
}
 
#navbar p a{
    color: #ddd;
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    margin: 0 .5rem;
    transition: all .5s ease;
}

#navbar p a i{
    font-size: 18px;
}

#root{
    width: 85%;
    height: 100%;
    background-color: #f1f1f1;
    color: #555;
    padding: 1rem;
    overflow-x: hidden ;
    overflow-y: auto;
}